@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&family=Work+Sans:wght@200&display=swap');

*{
    font-family: 'Work Sans', sans-serif; 
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear ;
}
p>img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    
    padding: 10px;
    margin: 10px;  
}
.nd2{
    text-align: center;
    font-size: 30px;
    color: #fff;
    
}
.nd1{
    text-align: center;
    border: 1px solid #999;
    background-color: goldenrod;
    width: 100%;
    font-size: 30px;
}
.nd3{
    font-weight: 700;
    font-size: 30px;
    color: #d3ad7f;
}
